html{
    scroll-behavior: smooth;
}
.navbar-brand.main{
  font-size: 1.2em;
}
.material-icons.size{
  font-size: 50px;
}
.navbar{
  border: 3px solid green;
  font-size: 12pt;
}
.photo {
    background-image: url("https://www.smartertravel.com/uploads/2020/03/ST_ZoomBackground_Beach03.jpg");
    background-position: 75% 45%;
    background-repeat: repeat-x;
    color: rgb(255, 255, 255);
    font-family:monospace;
    text-align: center;
}
.pic{
   border-radius:30%;
}

#home{
  font-size: 60px;
  font-weight: 300;
}
#home1{
  font-size: 25px;
  font-weight: 100;
}
#about{
  font-size: 100%;
  text-align:center;
  font-family: sans-serif; 
  background-color: rgb(176, 237, 255);
}
.divTable{
	display: table;
	width: 100%;
  background-color: rgb(246, 255, 119);
  border: 5px solid rgb(231, 105, 126);
}
.divTableRow {
	display: table-row;
}
.divTableCell{
	display: table-cell;
  font-family:Helvetica;
	font-size:100%;
}
.divTableBody {
	display: table-row-group;
}
.carousel-item {
  font-size: 100%;
  font-family: sans-serif;
  padding: 10px 50px;
  text-align: center;
}
.item1 {
  background-color:rgb(255, 189, 47);
}
.item2 {
  background-color: rgb(105, 247, 159);
}
.item3 {
  background-color:rgb(255, 191, 236);
}

.maincontact{
	display: table;
	width: 100%;
  border: 3px solid green;
}
.maincontactRow {
	display: table-row;
}
.maincontactCell {
	display: table-cell;
	padding: 1px 10px;
  text-align:center;
}
.maincontactBody {
	display: table-row-group;
}
